<a href="https://colab.research.google.com/github/lkjh1121/Colab/blob/master/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/4_%EB%A1%9C%EC%A7%80%EC%8A%A4%ED%8B%B1%ED%9A%8C%EA%B7%80_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
"""
날짜 : 2022/05/02
이름 : 김재현
내용 : 로지스틱회귀 분석 실습하기 # 분류 모델
"""
from sklearn.linear_model import LogisticRegression

In [2]:
# 학습데이터
train_data = [[42, 27], [36, 76], [28, 72], [63, 45], [59, 37]]
train_label = [1, 2, 2, 1, 1]

In [6]:
# 모델 생성 학습하기
model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [8]:
# 테스트 하기 
test_data = [[46, 62], [27, 45], [37, 51]]
result = model.predict(test_data)
result

array([2, 1, 1])

In [18]:
####################################################################
# 로지스틱 연습문제 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [21]:
# iris 데이터셋 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학실습/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [31]:
# 학습데이터, 테스트 데이터 분류
iris_data = df_iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
iris_label = df_iris['variety']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, train_size=0.8)
train_data

     sepal.length  sepal.width  petal.length  petal.width
122           7.7          2.8           6.7          2.0
27            5.2          3.5           1.5          0.2
64            5.6          2.9           3.6          1.3
35            5.0          3.2           1.2          0.2
147           6.5          3.0           5.2          2.0
..            ...          ...           ...          ...
123           6.3          2.7           4.9          1.8
83            6.0          2.7           5.1          1.6
138           6.0          3.0           4.8          1.8
77            6.7          3.0           5.0          1.7
60            5.0          2.0           3.5          1.0

[120 rows x 4 columns]

In [32]:
# 학습하기
model = LogisticRegression()
model.fit(train_data, train_label)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [33]:
# 테스트 하기 
result = model.predict(test_data)
result

array(['Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Setosa', 'Virginica'],
      dtype=object)

In [34]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

1.0